<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link href="/css/styles.css" rel="stylesheet" />
  </head>
  <body>
    <form method="POST" action="/new" class="form">
      <label for="user">Name: </label>
      <input type="text" id="user" name="user" />
      <label for="text">Text:</label>
      <input type="text" id="text" name="text" />
      <input type="submit" />
    </form>
  </body>
</html>
